<% layout('layouts/boilerplate')-%>
<body>


    <div class="row">
        <div class="col-8 offset-3 mt-3">
        <h3> <%=listing.title%></h3>
        </div>
        <div class="card col-6 offset-3 show-card mt-3 listing-card">
            <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body mt-3">
                <p class="card-text">
                <b>Owned by:</b>  <%=listing.owner.username%> <br>
                <b>Description:</b>  <%=listing.description%> <br>
                <b>Rent:</b> &#8364;  <%=listing.price.toLocaleString("de-DE")%> <br>
                <b>Location:</b>  <%=listing.location%> <br>
                <b>Country:</b>  <%=listing.country%>
                </p>
            </div>
        </div>
        <br>
    </div>
    
    <% if (currUser && listing.owner._id.equals(currUser._id)) { %>
    <div class="btns mt-3">
        <a href="/listings/<%= listing._id%>/edit" class="btn btn-primary col-1 offset-3" >Edit</a>
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
            <button class="btn btn-danger offset-5">Delete</button>
        </form> 
    </div>
    <%}%>
    <% if (currUser) { %>
    <div class="col-8 offset-3 mb-3">
        <br>
        <h4> Leave a Reivew</h4>
    <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">
        <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" class="form-range" min="1" max="5" step="1" id="rating" name="review[rating]" required>
        </div>
        <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">Please type in some comments for the review</div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
    </form>
    <%}%>
        <hr/>
    <p><b>All Reviews</b></p>
    <div class="row">
    <% for(review of listing.reviews) { %>
        <%console.log(review.author)%>
    <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
            <h5 class="card-title mt-3"><%= review.author.username%></h5>
            <p class="card-text"><%=review.comment%></p>
            <p class="card-text"><%=review.rating%> stars</p>
        </div>
        <form class="mb-3 mt-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
            <button class="btn btn-sm btn-dark">Delete</button>
        </form>
    </div>
    <% } %>
    </div>
</body> 
</html>

